html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

$black: #333;

body {
    min-height: 100vh;
    margin: 0;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 1.2rem;
    line-height: 1.4;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;

    background-image: url("../images/homePageImage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    li {
        flex-grow: 1;
    }

    a {
        padding: 12px 10px;
        display: flex;
        align-items: center;
        height: 100%;

        text-decoration: none;
        transition: all 0.2s ease;

        letter-spacing: 1px;
        font-size: 1.3rem;
    }

    a:hover,
    a:focus {
        color: #c7002f;
        background: white;
        border-radius: 3px;
    }
}

.open-menu {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.header {
    text-align: right;
    padding-right: 1rem;
}

.logo {
    margin-top: 0;
    color: white;
    font-weight: 100;
    text-align: right;
}

/* button to open the mobile menu */
.toggle-menu-open {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.4rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    transition: all 0.2s ease;
}

.toggle-menu-button:hover,
.toggle-menu:focus {
    cursor: pointer;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.25rem;
    height: 1.25rem;
}

.hamburger-top {
    width: 100%;
    height: 3px;
    background-color: $black;
}

.hamburger-middle {
    width: 100%;
    height: 3px;
    background-color: $black;
}

.hamburger-bottom {
    width: 100%;
    height: 3px;
    background-color: $black;
}

/* button to close the mobile nav */
.toggle-menu-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.75rem;
    border-radius: 5px;
    background-color: #fff;
    color: inherit;
    transition: all 0.2s ease;
    border-radius: 50%;
    background-color: #d3e0ec;
    padding: 0;
}

.toggle-menu-close:hover {
    cursor: pointer;
    background-color: #d3e0ec;
    border-radius: 50%;
    color: blue;
}

/* mobile navigation <nav> */
.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    min-width: 320px;
    transform: translateX(-100%);
    background-color: #08327b;
}

.red {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 95%;
    transform: translateX(-100%);
    background-color: #c31313;
}

/* mobile navigation <ul> */
.mobile-nav-list {
    margin: 0;
    list-style-type: none;
    padding: 0.5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 95%;
    background-color: white;
    transform: translateX(-100%);
}

.mobile-nav-list li {
    width: calc(100% - 3.5rem);
}

.mobile-nav-list li a {
    color: #2d4368;
}

/* .mobile-nav is the first panel to slide in and the last to slide out when user opens/closes the mobile navigation */
.mobile-nav.show {
    animation: showMobileMenu 0.6s linear forwards;
}

.mobile-nav.hide {
    transform: translateX(0);
    animation: hideMobileMenu 0.6s 0.5s linear forwards;
}

/* .red is the second panel to slide in and the second to slide out when user opens/closes the mobile navigation */
.red.show {
    animation: showMobileMenu 0.6s 0.3s linear forwards;
}

.red.hide {
    transform: translateX(0);
    animation: hideMobileMenu 0.6s 0.3s linear forwards;
}

/* .mobile-nav-list is the last panel to slide in and the first to slide out when user opens/closes the mobile navigation */
.mobile-nav-list.show {
    animation: showMobileMenu 0.6s 0.5s linear forwards;
}

.mobile-nav-list.hide {
    transform: translateX(0);
    animation: hideMobileMenu 0.6s linear forwards;
}

/* hide full width nav for mobile viewport widths */
.full-nav {
    display: none;
}

/* navigation <ul> for larger viewports */
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    transform: translateX(-100px);
    animation: slideIn 0.5s ease-in 0.8s forwards;
}

@keyframes showMobileMenu {
    100% {
        transform: translateX(0);
    }
}

@keyframes hideMobileMenu {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* for larger devices only */
@keyframes slideIn {
    100% {
        transform: translateX(0);
    }
}

/********** MEDIA QUERIES **********/
@media screen and (min-width: 750px) {
    .toggle-menu-open {
        display: none;
    }

    .header {
        display: block;
    }

    .logo {
        font-size: 2.5rem;
        letter-spacing: 1.5px;
    }

    /* hide mobile nav, show full width nav */
    .mobile-nav {
        display: none;
    }

    .full-nav {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        background-color: rgba(45, 67, 104, 0.7);
    }

    a {
        justify-content: center;
        color: white;
    }
}
