.wrapper {
    background-color: #f6f6f6;
}

.team {
    position: relative;

    padding: 50px 1rem;

    /* pattern by Gradient Magic 
       https://www.gradientmagic.com/collection/lightbg/gradient/1599333717161 
     */
    background-image: repeating-linear-gradient(
            45deg,
            rgb(255, 255, 255) 0px,
            rgb(255, 255, 255) 10px,
            transparent 10px,
            transparent 11px
        ),
        repeating-linear-gradient(
            135deg,
            rgb(255, 255, 255) 0px,
            rgb(255, 255, 255) 10px,
            transparent 10px,
            transparent 11px
        ),
        linear-gradient(90deg, hsl(256, 7%, 84%), hsl(256, 7%, 84%));
}

.cartoon {
    position: fixed;
    width: 120px;
    height: 120px;
    top: 30%;
    left: 30px;
    background: url("../images/alexCartoon.png");
    background-size: cover;
    transform: translateX(-150px);
}

@keyframes animateCartoonIn {
    from {
        transform: translateX(-150px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animateCartoonOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-150px);
    }
}

.introText {
    max-width: 650px;
    margin: 0 auto 175px;
}

.scrollLink {
    text-decoration: none;
    color: #2d4368;
    font-weight: bold;
    transition: all 0.3s ease;
}

.scrollLink:hover {
    text-decoration: underline;
}

.signatures {
    display: inline-block;
    font-style: italic;
    color: #2d4368;
    background-color: #e4eaf3;
    padding: 2px 8px;
}

.team-member-name {
    margin-top: 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 20px;
}

.quote {
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
}

.profile-pic {
    width: 100px;
    align-self: center;
    z-index: 2;
    position: relative;
    top: -50px;
    border-radius: 50%;
}

.team-member-li {
    background-color: white;
    padding: 0 1rem 1rem;

    display: flex;
    flex-direction: column;
    border-radius: 8px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
    }
}

.team-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

    flex-wrap: wrap;
    justify-content: space-evenly;

    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@keyframes animateSky {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.imageGallery {
    header {
        display: grid;

        //*
        margin: 0 auto 2rem;

        position: relative;
        z-index: 1000;
    }

    form {
        margin: 50px 1rem;

        position: relative;
        z-index: 1000;

        label {
            font-size: inherit;
            display: flex;
            align-items: center;
            position: relative;
        }

        label::before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #b1d079;
            background-color: #8cab59;
            margin-right: 15px;
        }
    }
}

.headerWrapper {
    padding: 50px 1rem;
}

.fileInput {
    margin-left: 10px;
    color: transparent;
}

.submit {
    display: block;
    font-size: inherit;
    border: none;
    margin-top: 1rem;
    background-color: #dc6148;
    color: white;
    padding: 10px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit:hover {
    background-color: #e17a65;
}

.cat {
    display: none;
}

.outerContainer {
    background: linear-gradient(
        to right,
        #182439,
        #182439 50%,
        #7a96c5 50%,
        #7a96c5 100%
    );
    padding: 20px 20px;
}

.innerContainer {
    max-width: 1200px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 10px;
}

.imageGalleryWrapper {
    background: white;
}

.images {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.image {
    max-width: 100%;
}

@media (min-width: 500px) {
    .imageGallery header {
        grid-template-columns: 200px auto;
        align-items: center;

        //*
        max-width: 800px;
        margin: 0 auto 4rem;

        /*
        transform: translateX(-20px);
        */
    }

    .cat {
        display: block;
        width: 200px;
    }

    h1 {
        font-size: 1.9rem;
    }

    .innerContainer {
        border: 1px solid white;
        padding: 30px;
    }

    .imageGalleryWrapper {
        background: linear-gradient(
            to right,
            #f0f3f9,
            #f0f3f9 10%,
            white 10%,
            white 90%,
            #f0f3f9 90%,
            #f0f3f9 100%
        );
        padding: 30px 12.5%;
    }
}

@media (min-width: 500px) and (prefers-reduced-motion: no-preference) {
    .headerWrapper {
        background: url("https://images.pexels.com/photos/3575541/pexels-photo-3575541.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

        background-position: 0px 0px;
        background-repeat: repeat-x;
        position: relative;
        padding: 50px 1rem;
        animation: animateSky 90s linear infinite;
    }

    .headerWrapper::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 500;
    }
}

@media (min-width: 950px) and (prefers-reduced-motion: no-preference) {
    .cartoon {
        animation: animateCartoonIn 2s 2s ease forwards,
            animateCartoonOut 0.8s 8s ease forwards;
    }
}
@media (min-width: 1100px) {
    .outerContainer {
        padding: 50px 50px;
    }
}
