.wrapper {
    background-color: #f6f6f6;
}

.team {
    text-align: center;

    position: relative;
    padding: 50px 1rem;

    /* pattern by Gradient Magic 
       https://www.gradientmagic.com/collection/lightbg/gradient/1599333717161 
     */
    background-image: repeating-linear-gradient(
            45deg,
            rgb(255, 255, 255) 0px,
            rgb(255, 255, 255) 10px,
            transparent 10px,
            transparent 11px
        ),
        repeating-linear-gradient(
            135deg,
            rgb(255, 255, 255) 0px,
            rgb(255, 255, 255) 10px,
            transparent 10px,
            transparent 11px
        ),
        linear-gradient(90deg, hsl(256, 7%, 84%), hsl(256, 7%, 84%));
}

.introText {
    max-width: 650px;
    margin: 0 auto 50px;

    text-align: left;
}

.signatures {
    display: inline-block;
    font-style: italic;
    color: #2d4368;
    background-color: #e4eaf3;
    padding: 2px 8px;
}

.team-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

@media (min-width: 700px) {
    .team-list {
        min-width: 650px;
    }
}
