.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 1rem;

    background-color: #2d4368;

    .copyright {
        color: #91a8d0;
        font-size: 1rem;
    }

    a {
        color: #91a8d0;
        text-decoration: none;
        transition: color 0.2s ease;
    }

    a:hover {
        text-decoration: underline;
        color: white;
    }
}
